{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 160,
  "plugins": ["prettier-plugin-svelte", "@prettier/plugin-pug", "prettier-plugin-tailwindcss"],
  "svelteAllowShorthand": true,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
